#num1,#num2,#num3,#num4,#num5,#num6,#num7,#num8,#num9,#num10 { background: #58D68D; }  /*verde*/


#num11,#num12,#num13,#num14,#num15,#num16,#num17,#num18,#num19,#num20 { background: #58D68D; }  /*verde*/
  

#num21,#num22,#num23,#num24,#num25,#num26,#num27,#num28,#num29,#num30 { background: #58D68D; }  /*verde*/


#num31,#num32,#num33,#num34,#num35{ background: #58D68D; }  /*verde*/

#num36,#num37,#num38,#num39,#num40,#num41,#num42,#num43,#num44,#num45 { background: #58D68D; }  /*verde*/

#num46,#num47,#num48 { background: #58D68D; }  /*verde*/
